@import "tailwindcss";

body{
margin:0;
font-family:Arial;
background:#f5f6fa;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:12px 20px;
background:#1f2937;
color:white;
}

.header nav button{
margin-left:10px;
padding:6px 12px;
border:none;
background:#374151;
color:white;
cursor:pointer;
}

.container{
display:flex;
height:90vh;
}

/* sidebar */

.sidebar{
width:220px;
background:white;
border-right:1px solid #ddd;
padding:15px;
}

.component{
padding:10px;
margin:8px 0;
background:#ecf0f1;
border-radius:6px;
cursor:grab;
}

/* workspace */

.workspace{
flex:1;
position:relative;
background:white;

background-image:
linear-gradient(#e5e7eb 1px, transparent 1px),
linear-gradient(90deg,#e5e7eb 1px, transparent 1px);

background-size:25px 25px;
}

.title{
padding:10px;
border-bottom:1px solid #ddd;
margin:0;
}

.element{
position:absolute;
width:80px;
height:40px;
display:flex;
align-items:center;
justify-content:center;
background:#f1f3f5;
border-radius:8px;
border:1px solid #ccc;
}

.element:active {
  cursor: grabbing;
}

.port{
width:14px;
height:14px;
background:#333;
border-radius:50%;
position:absolute;
top:50%;
transform:translateY(-50%);
cursor:pointer;
z-index:2;
}

.port.left{
left:-8px;
}

.port.right{
right:-8px;
}

.port:hover{
background:#0070f3;
transform:translateY(-50%) scale(1.2);
}
.port:hover::after{
content:"";
position:absolute;
width:30px;
height:30px;
border:2px dashed #0070f3;
border-radius:50%;
top:-8px;
left:-8px;
}

/* simulation */

.simulation{
align-self: flex-end;
width:240px;
background:white;
border-left:5px solid #000000;
padding:15px;
}

.simulation button{
width:100%;
padding:10px;
background:#10b981;
border:none;
color:white;
font-size:16px;
cursor:pointer;
}

.stats{
margin-top:15px;
}

.canvas{
 width: 1000px;
position:relative;
background:white;

background-image:
linear-gradient(#e5e7eb 1px, transparent 1px),
linear-gradient(90deg,#e5e7eb 1px, transparent 1px);

background-size:25px 25px;

overflow:hidden;

}

.element{

position: absolute;
padding:10px 14px;
background: none;
border-radius:6px;
cursor:pointer;
user-select:none;
font-size: xx-large;


}

.wires{

position:absolute;
width:100%;
height:100%;
pointer-events:none;

}